<div class="container">
    <h1 class="text-light">Иформация о приложении</h1>
</div>

<div class="bg-white" style="min-height: 70vh">
    <div class="container">
        <p style="font-size:24px">Приложение разработанно в рамках курсовой работы по курсу "Инструментальные средства информационных систем"</p>
        <p style="font-size:21px">В разработке участвовали студенты группы ЭИС-35:<p />

        <p style="font-size:18px">
            Крапивин Егор Никитич
            <br>
            Молотков Иван Юрьевич
            <br>
            Тараканов Роман Андреевич
            <br>
            Тетеев Иван Михайлович
        </p>

    </div>
</div>

